# Dependencies
node_modules/
.pnpm-store/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
lib/
*.tsbuildinfo

# Firebase Emulators & Debug logs
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
pubsub-debug.log*

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
